body {
    background-color: powderblue;
    font-family: verdana;
    text-align: center;
}

button {
    background-color: green;
    color: blue;
    font-family: arial;
    margin: auto;
    border: solid red;
}

.square {
    width: 600px;
    height: 200px;
    background-color: green;
    border: solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.computerchoice, .yourchoice {
    color: blue;
}

.result {
    color: orange;
}