body {
    background-color: powderblue;
    font-family: verdana;
    text-align: center;
}


button {
    background-color: green;
    color: yellow;
    font-family: arial;
    margin: auto;
    border: solid orange;
}