body {
    background-color: powderblue;
}
div {
    text-align: center;
    font-weight: bold;
    background-color: green;
    border: black;
    font-style: italic;
    }

button {
color: blue;
border: 0;
}