body {
	background-color: black;
}

#text1 {
	color: blue;
	background-color: green;
	width: 150px;
	height: 120px;
	text-align: center;
	font-family: calibri;
}

#text2 {
	color: blue;
	background-color: green;
	width: 150px;
	height: 120px;
text-align: center;
font-family: calibri;
}

.div1 {
display: flex;
position: absolute;
top: 275px;
left: 480px;
}

.div2 {
display: flex;
position: absolute;
top: 275px;
right: 480px;
}
