h1 {
    text-align: center;
    color: blue;
    font-family: arial;
    text-decoration: underline;
}

body {
    background-color: gray;
    color: black;
    font-family: verdana;
}

h3 {
    color: orange;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

span {
    color: orangered;
    font-style: italic;
    text-decoration: underline;
}

