body {
    background-image: url(background3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: verdana;
}

h1 {
    color: blue;
    text-align: center;
}

h2 {
    color: skyblue;
}

h3 {
    color: orange;
    text-align: center;
}

h4 {
    color: green;
    font-weight: bold;
}

span {
    color: red;

}

a {

color: skyblue;
}

li {
    color:skyblue;
}

.word {
    color: white;
}